@model WebSpeedmatch.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pass" class="control-label"></label>
                <input asp-for="Pass" class="form-control" />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesRecibidos" class="control-label"></label>
                <input asp-for="LikesRecibidos" class="form-control" />
                <span asp-validation-for="LikesRecibidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LikesEnviados" class="control-label"></label>
                <input asp-for="LikesEnviados" class="form-control" />
                <span asp-validation-for="LikesEnviados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumMatchs" class="control-label"></label>
                <input asp-for="NumMatchs" class="form-control" />
                <span asp-validation-for="NumMatchs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                @Html.DropDownListFor(model => model.Genero, (List<SelectListItem>)ViewBag.Generos, "Selecciona un género", new { @class = "form-control" })
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneroOtro" class="control-label"></label>
                <input asp-for="GeneroOtro" class="form-control" />
                <span asp-validation-for="GeneroOtro" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Baneado" /> @Html.DisplayNameFor(model => model.Baneado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaUltimoLogin" class="control-label"></label>
                <input asp-for="FechaUltimoLogin" class="form-control" />
                <span asp-validation-for="FechaUltimoLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Habitos" class="control-label"></label>
                <input asp-for="Habitos" class="form-control" />
                <span asp-validation-for="Habitos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comportamientos" class="control-label"></label>
                <input asp-for="Comportamientos" class="form-control" />
                <span asp-validation-for="Comportamientos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hobbies" class="control-label"></label>
                <input asp-for="Hobbies" class="form-control" />
                <span asp-validation-for="Hobbies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPlan" class="control-label"></label>
                @Html.DropDownListFor(model => model.TipoPlan, (List<SelectListItem>)ViewBag.Planes, "Selecciona un plan", new { @class = "form-control" })
                <span asp-validation-for="TipoPlan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Superlikes" class="control-label"></label>
                <input asp-for="Superlikes" class="form-control" />
                <span asp-validation-for="Superlikes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuperlikesDisponibles" class="control-label"></label>
                <input asp-for="SuperlikesDisponibles" class="form-control" />
                <span asp-validation-for="SuperlikesDisponibles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
